<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsy.tizuobackend.mapper.PapersubmitMapper">

    <resultMap id="BaseResultMap" type="com.wsy.tizuobackend.model.entity.Papersubmit">
            <id property="paperSubmitId" column="paperSubmitId" jdbcType="BIGINT"/>
            <result property="studentId" column="studentId" jdbcType="BIGINT"/>
            <result property="examId" column="examId" jdbcType="BIGINT"/>
            <result property="answerStatus" column="answerStatus" jdbcType="TINYINT"/>
            <result property="judgeStatus" column="judgeStatus" jdbcType="TINYINT"/>
            <result property="judgeInfo" column="judgeInfo" jdbcType="VARCHAR"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        paperSubmitId,studentId,examId,
        answerStatus,judgeStatus,judgeInfo,
        isDelete,createTime,updateTime
    </sql>
</mapper>
